.item-details{
    background-color: #e1e1e1;
    padding: 16px !important;
    display: block !important;
    text-align: left;
}

.MuiExpansionPanelSummary-root.Mui-expanded{
    min-height: unset !important;
}

.MuiExpansionPanelSummary-content.Mui-expanded{
    margin: 12px 0 !important;
}