.app {
  text-align: center;
}

.app-section{
  margin: 24px;
}

.app-header{
  background-color: #282c34;
  min-height: 48px;
  letter-spacing: 2px;
  font-size: calc(10px + 2vmin);
}

.header-link{
  color: white;
  cursor: pointer;
  text-decoration: none;

}

.no-data-message{
  margin: 24px;
}

.spacer{
  height: 16px;
}

.error-message{
  color: red;
  font-size: 16px;
}