.summary-section{
    width: 100%;
    text-align: left;
}

.title{
    font-size: 20px;
}
.description{
    color: gray;
    font-size: 12px !important;
    margin-left: 16px !important;
    margin-top: 4px !important;
}