.contains-area{
    background-color: #ffffff;
    min-height: 40px;
    line-height: 32px;
    text-align: left;
    padding: 8px;
}
.contains-area-label{
    line-height: 32px;
    display: flex;
    flex-direction: row;
    margin-bottom: 12px !important;
}

.chip{
    margin: 4px;
}

.dark{
    background-color: #e1e1e1;
}

.dark .chip{
    background-color: white;
}